[Unit]
Description=api-service
After=network.target

[Service]
WorkingDirectory=/usr/local/api-service
SyslogIdentifier=api-service
ExecStartPre=
ExecStart=/usr/local/api-service/admin.sh start
ExecStartPost=
ExecStop=/usr/local/api-service/admin.sh stop
ExecReload=/usr/local/api-service/admin.sh restart
Restart=on-failure
User=root
Type=simple
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target